@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main {
    height: 100%;
    width: 100%;
}

/* ===== Global ===== */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Nav Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background-color: rgba(75, 75, 128, 0.829);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navbar a {
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-links li {
    margin: 0 30px;
}

/* Header */
header {
    width: 100%;
    height: 100vh;
    background-image: url('images/header-bg.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    ;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: rgb(228, 46, 83);
    border-radius: 5px;
    margin: 10px auto;
}

.btn {
    background-color: rgb(228, 46, 83);
    border-radius: 15px;
    padding: 8px 15px;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
.events {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    color: rgb(75, 75, 128);
    font-size: 4vmin;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col img {
    width: 30vw;
    height: 40vh;
}

h4 {
    font-size: 3vmin;
    color: rgb(75, 75, 128);
    margin: 20px auto;
}

.events p {
    color: #7c7c7c;
    padding: 0px 40px;
}

.btn {
    margin: 40px auto;
}

/* Explore */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url('images/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: whitesmoke;
}

/* Tours and Destination */
.tours {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tours .row {
    width: 80%;
    margin: 100px auto;
}

.content-col {
    width: 40%;
    margin-left: 70px;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    max-width: 250px;
    max-height: fit-content;
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: rgb(75, 75, 128);
}

.content-col p {
    color: #656565;
}

.content-col .line {
    margin-bottom: 50px;
    margin-left: -1px;
}

/* Footer */
footer {
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    color: #8e8d8d;
    background-color: rgb(73, 73, 122);
    text-align: center;
}


/* Mobile Device */
@media screen and (max-width: 850px) {

    /* navbar */
    .navbar {
        padding: 0;
        background-color: transparent;
    }

    .logo {
        position: absolute;
        top: 30px;
        bottom: 30px;
        padding-left: 20px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(75, 75, 128);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    /* events */
    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 50px auto;
    }

    .col img {
        max-width: 90%;
        max-height: fit-content;
    }

    /* Explore */
    .explore-content {
        width: 100%;
    }

    /* Tours and Destination */
    .tours .col {
        width: 100%;
    }

    .image-gallery {
        justify-items: center;
        align-items: center;
    }

    .image-gallery img {
        max-width: 90%;
    }
}

/* Animations */
img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.1);
}

.btn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    color: #fc036b;
    cursor: zoom-out;
}